 <!--Artistas STYLE -->
 <div class="row content">
    <span class="h4 titles">Artistas</span>
    <div class="col-6 col-sm-6 col-md-2 col-lg-2">
        <div class="boxes ">
            <img class="img-fluid cardartista shadow" src="https://e-cdns-images.dzcdn.net/images/artist/c53b684dc60abbde2a50afe9a524c863/264x264-000000-80-0-0.jpg" alt="">
 
            <span class="titleartista d-block">Martin Garrix</span>
           
        </div>
    </div>
    <div class="col-6 col-sm-6 col-md-2 col-lg-2">
        <div class="boxes ">
            <img class="img-fluid cardartista shadow" src="https://e-cdns-images.dzcdn.net/images/artist/c53b684dc60abbde2a50afe9a524c863/264x264-000000-80-0-0.jpg" alt="">
 
            <span class="titleartista d-block">Martin Garrix</span>
           
        </div>
    </div>
    <div class="col-6 col-sm-6 col-md-2 col-lg-2">
        <div class="boxes ">
            <img class="img-fluid cardartista shadow" src="https://e-cdns-images.dzcdn.net/images/artist/c53b684dc60abbde2a50afe9a524c863/264x264-000000-80-0-0.jpg" alt="">
 
            <span class="titleartista d-block">Martin Garrix</span>
           
        </div>
    </div>
    <div class="col-6 col-sm-6 col-md-2 col-lg-2">
        <div class="boxes ">
            <img class="img-fluid cardartista shadow" src="https://e-cdns-images.dzcdn.net/images/artist/c53b684dc60abbde2a50afe9a524c863/264x264-000000-80-0-0.jpg" alt="">
 
            <span class="titleartista d-block">Martin Garrix</span>
           
        </div>
    </div>
    <div class="col-6 col-sm-6 col-md-2 col-lg-2">
        <div class="boxes ">
            <img class="img-fluid cardartista shadow" src="https://e-cdns-images.dzcdn.net/images/artist/c53b684dc60abbde2a50afe9a524c863/264x264-000000-80-0-0.jpg" alt="">
 
            <span class="titleartista d-block">Martin Garrix</span>
           
        </div>
    </div>
    <div class="col-6 col-sm-6 col-md-2 col-lg-2">
        <div class="boxes ">
            <img class="img-fluid cardartista shadow" src="https://e-cdns-images.dzcdn.net/images/artist/c53b684dc60abbde2a50afe9a524c863/264x264-000000-80-0-0.jpg" alt="">
 
            <span class="titleartista d-block">Martin Garrix</span>
           
        </div>
    </div>
    
    
</div>

<span class="d-none d-sm-none d-md-block text-end">
    <a class="more" [routerLink]="['/artists']">
        <span class="align-middle">Ver todo </span>
        <span class="align-middle">
            <fa-icon [icon]="faAngleRight" class="AngleDown"></fa-icon>
        </span>
        
    </a>
    
</span>
<span class="d-block d-sm-block d-md-none text-center">
    <a class="more" [routerLink]="['/artists']">
        <span class="align-middle">Ver todo </span>
        <span class="align-middle">
            <fa-icon [icon]="faAngleRight" class="AngleDown"></fa-icon>
        </span>
        
    </a>
    
</span>
