 <!--SOUNDS STYLE -->
 <div class="row content">
    <span class="h4 titles">Lo nuevo</span>
    <div class="col-6 col-sm-6 col-md-2 col-lg-2">
        <div class="boxes">
            <img class="img-fluid soundimages shadows" src="https://lastfm.freetls.fastly.net/i/u/300x300/e94014370df247b8855e5fb12715a040.jpg" alt="">
            <span class="songdata">
                <span class="songinfo">Folk</span>
                <span class="songartista">de <a href="">Artista</a></span>
            </span>
        </div>
    </div> 
    <div class="col-6 col-sm-6 col-md-2 col-lg-2">
        <div class="boxes">
            <img class="img-fluid soundimages shadows" src="https://e-cdns-images.dzcdn.net/images/cover/98d0fc6313abdb569255db726bd5101d/264x264-000000-80-0-0.jpg" alt="">
            <span class="songdata">
                <span class="songinfo">name</span>
                <span class="songartista">de <a href="">Artista</a></span>
            </span>
        </div>
    </div> 
    <div class="col-6 col-sm-6 col-md-2 col-lg-2">
        <div class="boxes">
            <img class="img-fluid soundimages shadows" src="https://e-cdns-images.dzcdn.net/images/cover/a452975ef997cdd4837888e8eb5a3125/264x264-000000-80-0-0.jpg" alt="">
            <span class="songdata">
                <span class="songinfo">name</span>
                <span class="songartista">de <a href="">Artista</a></span>
            </span>
        </div>
    </div> 
    <div class="col-6 col-sm-6 col-md-2 col-lg-2">
        <div class="boxes">
            <img class="img-fluid soundimages shadows" src="https://e-cdns-images.dzcdn.net/images/cover/3dd2bd912de3e3b897aa0050f4d12073/264x264-000000-80-0-0.jpg" alt="">
            <span class="songdata">
                <span class="songinfo">name</span>
                <span class="songartista">de <a href="">Artista</a></span>
            </span>
        </div>
    </div> 
    <div class="col-6 col-sm-6 col-md-2 col-lg-2">
        <div class="boxes">
            <img class="img-fluid soundimages shadows" src="https://e-cdns-images.dzcdn.net/images/cover/1504b3caf062868affbf383c48073f6c/264x264-000000-80-0-0.jpg" alt="">
            <span class="songdata">
                <span class="songinfo">name</span>
                <span class="songartista">de <a href="">Artista</a></span>
            </span>
        </div>
    </div> 
    <div class="col-6 col-sm-6 col-md-2 col-lg-2">
        <div class="boxes">
            <img class="img-fluid soundimages shadows" src="https://e-cdns-images.dzcdn.net/images/cover/7cbcb5083fd198b389bc637c5c193ef2/264x264-000000-80-0-0.jpg" alt="">
            <span class="songdata">
                <span class="songinfo">name</span>
                <span class="songartista">de <a href="">Artista</a></span>
            </span>
        </div>
    </div> 
    
</div>
<span class="d-none d-sm-none d-md-block text-end">
    <a class="more" href="">
        <span class="align-middle">Ver todo </span>
        <span class="align-middle">
            <fa-icon [icon]="faAngleRight" class="AngleDown"></fa-icon>
        </span>
        
    </a>
    
</span>
<span class="d-block d-sm-block d-md-none text-center">
    <a class="more" href="">
        <span class="align-middle">Ver todo </span>
        <span class="align-middle">
            <fa-icon [icon]="faAngleRight" class="AngleDown"></fa-icon>
        </span>
        
    </a>
    
</span>
