<!-- <app-head></app-head>
 --><div class="container-fluid px-lg-5 pt-lg-3 pb-lg-5">
    <ng-template [ngIf]="newsongs">
        <div class="modules">
            <app-newsongs></app-newsongs>
        </div>
        
    </ng-template>
    <ng-template [ngIf]="gender">
        <div class="modules">
            <app-gender></app-gender>
        </div>
       
    </ng-template>
    <ng-template [ngIf]="popular">
        <div class="modules">
            <app-popular></app-popular>
        </div>
        
    </ng-template>
    
    <ng-template [ngIf]="artistas">
        <div class="modules">
            <app-arts></app-arts>
        </div>
       
    </ng-template>
    <ng-template [ngIf]="topAlbums">
        <div class="modules">
            <app-albumstop></app-albumstop>
        </div>
       
    </ng-template>
    
   
    
</div>
<!-- <app-player></app-player> -->