<div class="container-fluid px-lg-5 pt-lg-3 pb-lg-5">
     <!--SOUNDS STYLE -->
        <div class="row content">
            <span class="h4 titles">Música por género</span>
            <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                <div class="boxes cardgender">
                    <img class="img-fluid covergender shadow" src="https://e-cdns-images.dzcdn.net/images/misc/d1f20c3f8aac2f94c87c5f64e0d14c99/268x528-000000-80-0-0.jpg" alt="">
        
                    <span class="titlegender">Rock</span>
                
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                <div class="boxes cardgender">
                    <img class="img-fluid covergender shadow" src="https://e-cdns-images.dzcdn.net/images/misc/d1f20c3f8aac2f94c87c5f64e0d14c99/268x528-000000-80-0-0.jpg" alt="">
        
                    <span class="titlegender">Pop</span>
                
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                <div class="boxes cardgender">
                    <img class="img-fluid covergender shadow" src="https://e-cdns-images.dzcdn.net/images/misc/d1f20c3f8aac2f94c87c5f64e0d14c99/268x528-000000-80-0-0.jpg" alt="">
        
                    <span class="titlegender">Música latina</span>
                
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                <div class="boxes cardgender">
                    <img class="img-fluid covergender shadow" src="https://e-cdns-images.dzcdn.net/images/misc/d1f20c3f8aac2f94c87c5f64e0d14c99/268x528-000000-80-0-0.jpg" alt="">
        
                    <span class="titlegender">Vallenato</span>
                
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                <div class="boxes cardgender">
                    <img class="img-fluid covergender shadow" src="https://e-cdns-images.dzcdn.net/images/misc/d1f20c3f8aac2f94c87c5f64e0d14c99/268x528-000000-80-0-0.jpg" alt="">
        
                    <span class="titlegender">Electrónica</span>
                
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                <div class="boxes cardgender">
                    <img class="img-fluid covergender shadow" src="https://e-cdns-images.dzcdn.net/images/misc/d1f20c3f8aac2f94c87c5f64e0d14c99/268x528-000000-80-0-0.jpg" alt="">
                    <span class="titlegender">Salsa</span>
                </div>
            </div> 
            <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                <div class="boxes cardgender">
                    <img class="img-fluid covergender shadow" src="https://e-cdns-images.dzcdn.net/images/misc/d1f20c3f8aac2f94c87c5f64e0d14c99/268x528-000000-80-0-0.jpg" alt="">
                    <span class="titlegender">Salsa</span>
                </div>
            </div> 
            <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                <div class="boxes cardgender">
                    <img class="img-fluid covergender shadow" src="https://e-cdns-images.dzcdn.net/images/misc/d1f20c3f8aac2f94c87c5f64e0d14c99/268x528-000000-80-0-0.jpg" alt="">
                    <span class="titlegender">Salsa</span>
                </div>
            </div> 
            <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                <div class="boxes cardgender">
                    <img class="img-fluid covergender shadow" src="https://e-cdns-images.dzcdn.net/images/misc/d1f20c3f8aac2f94c87c5f64e0d14c99/268x528-000000-80-0-0.jpg" alt="">
                    <span class="titlegender">Salsa</span>
                </div>
            </div> 
            <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                <div class="boxes cardgender">
                    <img class="img-fluid covergender shadow" src="https://e-cdns-images.dzcdn.net/images/misc/d1f20c3f8aac2f94c87c5f64e0d14c99/268x528-000000-80-0-0.jpg" alt="">
                    <span class="titlegender">Salsa</span>
                </div>
            </div> 
            <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                <div class="boxes cardgender">
                    <img class="img-fluid covergender shadow" src="https://e-cdns-images.dzcdn.net/images/misc/d1f20c3f8aac2f94c87c5f64e0d14c99/268x528-000000-80-0-0.jpg" alt="">
                    <span class="titlegender">Salsa</span>
                </div>
            </div> 
            <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                <div class="boxes cardgender">
                    <img class="img-fluid covergender shadow" src="https://e-cdns-images.dzcdn.net/images/misc/d1f20c3f8aac2f94c87c5f64e0d14c99/268x528-000000-80-0-0.jpg" alt="">
                    <span class="titlegender">Salsa</span>
                </div>
            </div> 
            <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                <div class="boxes cardgender">
                    <img class="img-fluid covergender shadow" src="https://e-cdns-images.dzcdn.net/images/misc/d1f20c3f8aac2f94c87c5f64e0d14c99/268x528-000000-80-0-0.jpg" alt="">
                    <span class="titlegender">Salsa</span>
                </div>
            </div> 
            <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                <div class="boxes cardgender">
                    <img class="img-fluid covergender shadow" src="https://e-cdns-images.dzcdn.net/images/misc/d1f20c3f8aac2f94c87c5f64e0d14c99/268x528-000000-80-0-0.jpg" alt="">
                    <span class="titlegender">Salsa</span>
                </div>
            </div> 
            <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                <div class="boxes cardgender">
                    <img class="img-fluid covergender shadow" src="https://e-cdns-images.dzcdn.net/images/misc/d1f20c3f8aac2f94c87c5f64e0d14c99/268x528-000000-80-0-0.jpg" alt="">
                    <span class="titlegender">Salsa</span>
                </div>
            </div> 
            <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                <div class="boxes cardgender">
                    <img class="img-fluid covergender shadow" src="https://e-cdns-images.dzcdn.net/images/misc/d1f20c3f8aac2f94c87c5f64e0d14c99/268x528-000000-80-0-0.jpg" alt="">
                    <span class="titlegender">Salsa</span>
                </div>
            </div> 
            <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                <div class="boxes cardgender">
                    <img class="img-fluid covergender shadow" src="https://e-cdns-images.dzcdn.net/images/misc/d1f20c3f8aac2f94c87c5f64e0d14c99/268x528-000000-80-0-0.jpg" alt="">
                    <span class="titlegender">Salsa</span>
                </div>
            </div> 
            <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                <div class="boxes cardgender">
                    <img class="img-fluid covergender shadow" src="https://e-cdns-images.dzcdn.net/images/misc/d1f20c3f8aac2f94c87c5f64e0d14c99/268x528-000000-80-0-0.jpg" alt="">
                    <span class="titlegender">Salsa</span>
                </div>
            </div> 
            
        </div>
        <app-arts></app-arts>




</div>
