 <!--SOUNDS STYLE -->
 <div class="row content">
    <span class="h4 titles">Música por género</span>
    <div class="col-6 col-sm-6 col-md-2 col-lg-2">
        <div class="boxes cardgender">
            <img class="img-fluid covergender shadow rounded" src="https://e-cdns-images.dzcdn.net/images/misc/d1f20c3f8aac2f94c87c5f64e0d14c99/268x528-000000-80-0-0.jpg" alt="">
 
            <span class="titlegender">Rock</span>
           
        </div>
    </div>
    <div class="col-6 col-sm-6 col-md-2 col-lg-2">
        <div class="boxes cardgender">
            <img class="img-fluid covergender shadow" src="https://e-cdns-images.dzcdn.net/images/misc/d1f20c3f8aac2f94c87c5f64e0d14c99/268x528-000000-80-0-0.jpg" alt="">
 
            <span class="titlegender">Pop</span>
           
        </div>
    </div>
    <div class="col-6 col-sm-6 col-md-2 col-lg-2">
        <div class="boxes cardgender">
            <img class="img-fluid covergender shadow" src="https://e-cdns-images.dzcdn.net/images/misc/d1f20c3f8aac2f94c87c5f64e0d14c99/268x528-000000-80-0-0.jpg" alt="">
 
            <span class="titlegender">Música latina</span>
           
        </div>
    </div>
    <div class="col-6 col-sm-6 col-md-2 col-lg-2">
        <div class="boxes cardgender">
            <img class="img-fluid covergender shadow" src="https://e-cdns-images.dzcdn.net/images/misc/d1f20c3f8aac2f94c87c5f64e0d14c99/268x528-000000-80-0-0.jpg" alt="">
 
            <span class="titlegender">Vallenato</span>
           
        </div>
    </div>
    <div class="col-6 col-sm-6 col-md-2 col-lg-2">
        <div class="boxes cardgender">
            <img class="img-fluid covergender shadow" src="https://e-cdns-images.dzcdn.net/images/misc/d1f20c3f8aac2f94c87c5f64e0d14c99/268x528-000000-80-0-0.jpg" alt="">
 
            <span class="titlegender">Electrónica</span>
           
        </div>
    </div>
    <div class="col-6 col-sm-6 col-md-2 col-lg-2">
        <div class="boxes cardgender">
            <img class="img-fluid covergender shadow" src="https://e-cdns-images.dzcdn.net/images/misc/d1f20c3f8aac2f94c87c5f64e0d14c99/268x528-000000-80-0-0.jpg" alt="">
            <span class="titlegender">Salsa</span>
        </div>
    </div> 
    
</div>
<span class="d-none d-sm-none d-md-block text-end">
    <a class="more"  [routerLink]="['/explore']">
        <span class="align-middle">Ver todo </span>
        <span class="align-middle">
            <fa-icon [icon]="faAngleRight" class="AngleDown"></fa-icon>
        </span>
        
    </a>
    
</span>
<span class="d-block d-sm-block d-md-none text-center">
    <a class="more" [routerLink]="['/explore']">
        <span class="align-middle">Ver todo </span>
        <span class="align-middle">
            <fa-icon [icon]="faAngleRight" class="AngleDown"></fa-icon>
        </span>
        
    </a>
    
</span>


